body{
    background-image: url('https://cdn.mos.cms.futurecdn.net/vmxq7HZ95UDd9PQLr6ZcbY.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Belgrano', serif;
    color: rgb(252, 252, 252);
}